[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=bez
Group=www-data
WorkingDirectory=/home/bez/projects/mango
ExecStart=/home/bez/.venvs/django3.8.10/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/bez/mango.sock mango.wsgi:application

[Install]
WantedBy=multi-user.target