:root
{
    --table-background-color: #08A2DD;
    --table-border-color: #f9f9f9;
    --table-header-background-color: #08A2DD;
    --table-dataA-color: #EB523F;
    --table-dataB-color: #155157;
    --table-data-pixel-width: 1px;
}

#workoutlognav
{
    text-align: center;
}

#workoutlognav span
{
    display: inline;
}

#workoutlognav button
{
    width: 30px;
    padding: 5px;
    font-size: 16px;
    background: var(--table-background-color);
    color: #ffffff;
}

#workoutlognav select
{
    width: 115px;
    padding: 5px;
    font-size: 16px;
    background: var(--table-background-color);
    color: #ffffff;
}

table
{
    width: 1000px;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

table tr td
{
    color: #ffffff;
    border: var(--table-data-pixel-width) solid var(--table-border-color);
    padding: 10px 15px 10px 15px;
    text-align: center;
}

table thead .headerData
{
    background-color: var(--table-header-background-color);
    border: 1px solid var(--table-border-color);
    font-size: 16px;
}

table .dataA
{
    background-color: var(--table-dataA-color);
}

table .dataB
{
    background-color: var(--table-dataB-color);
}

table .cardioData
{
    background-color: var(--table-dataA-color);
}

table .exerciseColumn
{
    text-align: left;
}

svg
{
    display: block;
    margin: auto;
}