{% extends "index/index.html" %}
    {% block head %}
    {% load static %}\
    <script type="text/javascript" src="{% static 'recipes/recipe.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/default.css' %}" />

    <script bez-on-load type="text/javascript">
        decorateRecipe("recipe-{{ recipe.name_slug }}", [
            {% for ingredient in recipe.ingredients %}
                '{{ ingredient.food }}'.toLowerCase(),
            {% endfor %}
        ]);
    </script>
    {% endblock %}

    {% block content %}
    <div id="recipe-{{ recipe.name_slug }}" class="recipe">
        <h1>{{ recipe.name }}</h1>
        <h2>Ingredients:</h2>
        <table>
        {% for ingredient in recipe.ingredients %}
            <tr>
                <td><span class="quantity-span">{{ ingredient.quantity }}</span></td>
                <td><span class="unit-span">{{ ingredient.unit }}</span></td>
                <td><span class="food-span">{{ ingredient.food }}</span></td>
            </tr>
        {% endfor %}
        </table>
        <h2>Directions:</h2>
        {% for step in recipe.directions %}
            <p class="step-p">{{ step }}</p>
        {% endfor %}
    </div>
    {% endblock %}
