#notes h1 {
    margin-top: 10px;
    margin-left: 15px;
    font: arial, sans-serif;
}

#notes a {
    margin-left: 20px;
    font: 200% arial, sans-serif;
}

.toc {
    width: auto;
    margin-top: 10px;
}

.toc-link:link, .toc-link.visited {
    text-decoration: none;
}

.toc ul {
    margin-left: 10px;
    list-style-type: none;
    font: 100% arial, sans-serif;
}

.toc ul > li {
    font-weight: bold;
}

.toc ul > ul > li, .toc li > ul > li {
    font-weight: normal;
}

.note {
    margin: 0 auto;
}

.note p {
    margin-left: 20px;
    font: 100% arial, sans-serif;
    display: table;
}

.note li > p {
    display: contents;
}

.note > li {
    width: fit-content;
    margin-left: 20px;
    font: 100% arial, sans-serif;
}

.note ol {
    margin-left: 20px;
    list-style: decimal;
    list-style-position: inside;
}

.note code:hover {
    background-color: #add8e8;
    transition: background-color 500ms linear;
    cursor: pointer;
}

.note > h1 {
    margin-top: 10px;
    margin-left: 10px;
    font: 200% arial, sans-serif;
}

.note > h2 {
    margin-top: 10px;
    margin-left: 15px;
    font: arial, sans-serif;
}

.note > h3 {
    margin-top: 10px;
    margin-left: 15px;
    font: arial, sans-serif;
}

.note pre {
    margin-left: 20px;
}

.note code {
    font-size: large;
    white-space:break-spaces;
}

.note img {
    max-width: 50%;
    max-height: 50%;
    margin: 10px;
}

.note table, .note th, .note td {
    margin-left: 10px;
    padding: 10px;
    border: 3px solid #11387d;
    border-collapse: collapse;
}
