{% extends request.is_ajax|yesno:"index/empty.html,index/index.html" %}
    {% block head %}
        {% load static %}
        <script type="text/javascript" src="{% static 'bodybuilding/graph.js' %}"></script>
        <script type="text/javascript" src="{% static 'bodybuilding/bodybuilding.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bodybuilding/default.css' %}" />
    
        <script type="text/javascript">
            function Initialize() {
                {% if exercise %}
                    $("#exercises").val("{{ exercise }}");
                {% endif %}

                var exercise = $("#exercises option:selected").val();
                var exerciseText = $("#exercises option:selected").text();
                var url = "{% url 'bodybuilding:bodybuilding' %}" + exercise + "/";
                RenderData(exercise, url, exerciseText);

                $("#exercises").change(function() {
                    var exercise = $("#exercises option:selected").val();
                    var exerciseText = $("#exercises option:selected").text();
                    var url = "{% url 'bodybuilding:bodybuilding' %}" + exercise + "/";
                    RenderData(exercise, url, exerciseText);
                });
            }
        </script>
    {% endblock %}

    {% block content %}
        <div id="debug">
            <a href="/life/" rel="/life/">life</a>
        </div>
        {% csrf_token %}
        <select id="exercises">
            <option value="Overall">Overall</option>
            {% for exercise in exercises %}
                <option value="{{ exercise }}">{{ exercise }}</option>
            {% endfor %}
        </select>   
        <div id="graph"></div>
        <div id="table"></div>
        <div id="output"></div>
    {% endblock %}