{% extends request.is_ajax|yesno:"index/empty.html,index/index.html" %}
    {% block head %}
        {% load static %}
        <script type="text/javascript" src="{% static 'bodybuilding/graph.js' %}"></script>
        <script type="text/javascript" src="{% static 'bodybuilding/bodybuilding.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bodybuilding/default.css' %}" />
    
        <script type="text/javascript">
            function Initialize() {
                {% if exercise %}
                    $("#exercises").val("{{ exercise }}");
                {% endif %}

                dates = JSON.parse('{{ workouts | escapejs }}');
                sets = JSON.parse('{{ sets | escapejs }}');
                cardio = JSON.parse('{{ cardio | escapejs }}');
                RenderData();
            }
        </script>
    {% endblock %}

    {% block content %}
        <div id="debug">
            <a href="/life/" rel="/life/">life</a>
        </div>
        <div id="workoutlognav">
            <span>
                <button type="button" id="navLeft"><</button>
                <select id="datesSelect"></select>
                <button type="button" id="navRight">></button>
            </span>
        </div>
        <br />
        <div id="workoutlog"></div>
        <div id="output"></div>
    {% endblock %}