{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
    function copyToClipboard(text) {
        if (navigator.clipboard) {
            navigator.clipboard.writeText(text);
            return;
        }

        var textArea = document.createElement("textarea");
        textArea.value = text;
        textArea.style.top = "0";
        textArea.style.left = "0";
        textArea.style.position = "fixed";
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        try {
            document.execCommand('copy');
        } catch (err) {
            console.error('copy failed');
        }

        document.body.removeChild(textArea);
    }

    const noteTextElement = document.getElementById("id_text_area");

    const getNoteSelection = () => {
        return { "start": noteTextElement.selectionStart, "end": noteTextElement.selectionEnd, "isSelected": () => noteTextElement.selectionStart !== noteTextElement.selectionEnd };
    };

    const getSelectionText = () => {
        let selection = getNoteSelection();
        if (selection.isSelected) return noteTextElement.value.substring(selection.start, selection.end);
        else return "";
    };

    const addPrefixAndSuffixToSelection = (textBefore, textAfter) => {
        if (!textAfter) textAfter = "";
        let selection = getNoteSelection();
        let text = noteTextElement.value;
        text = text.slice(0, selection.start) + textBefore + text.slice(selection.start, selection.end) + textAfter + text.slice(selection.end, text.length - 1);
        noteTextElement.value = text;
    };

    const getTrueLineSelection = (text, selection) => {
        // get the true start and end indices which are the new lines surrounding the selection
        let trueStartIndex = text.substring(0, selection.start).lastIndexOf("\n");
        selection.start = trueStartIndex >= 0 ? trueStartIndex + 1 : 0;
        let trueEndIndex = text.substring(selection.end, text.length - 1).indexOf("\n");
        selection.end = trueEndIndex >= 0 ? selection.end + trueEndIndex : text.length;

        return selection;
    }

    const addPrefixSuffixToLineSelection = (prefix, suffix) => {
        if (!suffix) suffix = "";

        let text = noteTextElement.value;
        let selection = getNoteSelection();

        selection = getTrueLineSelection(text, selection);
        let substring = text.substring(selection.start, selection.end);

        let result = "";
        let split = substring.split("\n");
        for (let i = 0; i < split.length; i++) {
            result += prefix + split[i] + suffix;
            if (i < split.length - 1) result += "\n";
        }

        noteTextElement.value = text.substring(0, selection.start) + result + text.substring(selection.end, text.length);
        noteTextElement.setSelectionRange(selection.start, selection.start + result.length);
    };

    const addNumbersToLineSelection = () => {
        let text = noteTextElement.value;
        let selection = getNoteSelection();

        selection = getTrueLineSelection(text, selection);
        let substring = text.substring(selection.start, selection.end);

        let result = "";
        let split = substring.split("\n");
        for (let i = 0; i < split.length; i++) {
            result += `${i + 1}. ` + split[i];
            if (i < split.length - 1) result += "\n";
        }

        noteTextElement.value = text.substring(0, selection.start) + result + text.substring(selection.end, text.length);
        noteTextElement.setSelectionRange(selection.start, selection.start + result.length);
    };

    const removeTabInLineSelection = () => {
        let text = noteTextElement.value;
        let selection = getNoteSelection();

        selection = getTrueLineSelection(text, selection);
        let substring = text.substring(selection.start, selection.end);

        let result = "";
        let split = substring.split("\n");
        for (let i = 0; i < split.length; i++) {
            let line = split[i];
            // remove at most 4 spaces
            let numSpaces = 0;
            while (numSpaces < 4) {
                if (line[numSpaces] === " ") numSpaces++;
                else break;
            }

            line = line.substring(numSpaces);

            result += line;
            if (i < split.length - 1) result += "\n";
        }

        noteTextElement.value = text.substring(0, selection.start) + result + text.substring(selection.end, text.length);
        noteTextElement.setSelectionRange(selection.start, selection.start + result.length);
    };

    const createButton = (text, onclick) => {
        let button = document.createElement("button");
        button.type = "button";
        button.innerText = text;
        button.onclick = onclick;
        button.style.marginRight = "10px";
        return button;
    };

    const createNoteToolbar = () => {
        let toolBar = document.createElement("div");
        toolBar.appendChild(createButton("NLE", () => {
            let numLE = noteTextElement.value.matchAll(/\n/gi).length;
            noteTextElement.value = noteTextElement.value.replaceAll("\r\n", "\n");
            if (numLE) alert(`bad line endings: ${numLE}`);
        }));
        toolBar.appendChild(createButton("H1", () => { addPrefixSuffixToLineSelection("#"); }));
        toolBar.appendChild(createButton("H2", () => { addPrefixSuffixToLineSelection("##"); }));
        toolBar.appendChild(createButton("NEWLINE", () => { addPrefixSuffixToLineSelection("", "\n"); }));
        toolBar.appendChild(createButton("LIST", () => { addNumbersToLineSelection(); }));
        toolBar.appendChild(createButton("CODE", () => { addPrefixSuffixToLineSelection("`", "`"); }));
        toolBar.appendChild(createButton("LINK", () => { addPrefixAndSuffixToSelection(`[${getSelectionText()}](`, ")"); }));

        return toolBar;
    };

    noteTextElement.parentNode.insertBefore(createNoteToolbar(), noteTextElement);

    let files = document.getElementsByClassName('file-upload');
    for (let i = 0; i < files.length; i++) {
        files[i].appendChild(createButton("COPY", (event) => {
            let url = event.target.parentElement.getElementsByTagName('a')[0].href;
            let markdownUrl = `![${url.substring(url.lastIndexOf('/'))}](${url})`
            copyToClipboard(markdownUrl);
        }));
    }
    keyDownMap = {};
    noteTextElement.onkeydown = noteTextElement.onkeyup = function(event) {
        keyDownMap[event.keyCode] = event.type === "keydown";

        if (keyDownMap[9] && keyDownMap[16]) {
            event.preventDefault();
            removeTabInLineSelection();
        } else if (keyDownMap[9]) {
            event.preventDefault();
            addPrefixSuffixToLineSelection("    ");
        } else if (keyDownMap[192]) {
            // if (getNoteSelection.isSelected) addPrefixSuffixToLineSelection("`", "`");
        }

        //console.log(event.keyCode);
    };
</script>
{% endblock %}