<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link bez-base rel="stylesheet" type="text/css" href="{% static 'index/default.css' %}" />

        <script bez-base type="text/javascript" src="{% static 'index/jquery-3.6.0.min.js' %}"></script>
        <script bez-base type="text/javascript" src="{% static 'index/bezutil.js' %}"></script>
        <script bez-base type="text/javascript" src="{% static 'index/banner2.js' %}"></script>
        <script bez-base type="text/javascript" src="{% static 'index/index.js' %}"></script>

        {% block head %}
        {% endblock %}

        <title>bez</title>
    </head>

    <body>
        <div id="page">
            <div id="header">
                <canvas id="banner"></canvas>
                <input id="search" type="text" value="" autofocus />
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                <h4>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Leonid Bezroukov</h4>
            </div>
        </div>
    </body>
</html>