<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static 'index/default.css' %}" />

        <script type="text/javascript" src="{% static 'index/banner.js' %}"></script>
        <script type="text/javascript" src="{% static 'index/jquery-1.11.3.min.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                var banner = new Banner("banner");

                {% block js %}
                    $("#content").load("/life #content");
                {% endblock %}
            });

            $(document).on("click", "a", function(e) {
                e.preventDefault();
                $("#content").load(this.href + " #content");
                history.replaceState(null, null, this.rel);
            });
        </script>

        <title>coach</title>
    </head>

    <body>
        <div id="header">
            <canvas id="banner" width="1000" height="250"></canvas>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <div id="footer">
            <h4>&copy; 2015 Leo Bezroukov</h4>
        </div>
    </div>
    </body>
</html>