@import "constants.css";

*
{
margin: 0;
padding: 0;
}

p
{
    font-family: Verdana;
    text-align: justify;
}

body
{
    background-color: var(--primary-bg-color);
}

input
{
    background: #f9f9f9;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--primary-color);
    display: block;
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -6px hsl(0, 0%, 50%)
}

#page
{
    overflow:hidden;
    border-bottom: none;
    height: 100vh;
}

#header
{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 1000px;
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
}

#header #banner 
{
    background-color: #000000;
}

#search
{
    margin: 10px auto 10px auto;
    height: 50px;
    width: 900px;
    font: 200% arial, sans-serif;
    font-weight: 900;
}

#search-results
{
    position: absolute;
    background-color: var(--primary-bg-color);
    border: 2px solid var(--primary-color);
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
    margin-top: -20px;
    margin-left: 28px;
    width: 900px;
    outline: none;
    visibility: hidden;
}

#search-results span
{
    display: block;
    border-radius: 10px;
    padding: 10px;
    margin-left: -10px;
    font: 200% arial, sans-serif;
    font-weight: 900;
}

#navbar
{
    display: flex;
    background-color: var(--primary-bg-color);
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 auto;
    width: 1000px;
    height: 50px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
}

#navbar > div
{
    cursor: pointer;
    display: flex;
    height: 50px;
    border-right: 3px solid var(--primary-color);
    align-items: center;
}

#navbar > div:first-child {
    padding-right: 10px;
}

#navbar > div:last-child {
    border-left: 3px solid var(--primary-color);
    border-right: none;
    margin-left: auto;
    order: -1;
}

#navbar > div:hover {
    background-color: #99E4C4;
}

#navbar > div span {
    display: inline-block;
    vertical-align: middle;
}

#navbar #login-button, #navbar #account-button {
    order: 1;
}

#login {
    z-index: 1;
    display: none;
    float: right;
    position: absolute;
    padding: 20px;
    border: 3px solid var(--primary-color);
}

#login input[type="text"], #login input[type="password"] {
    margin-bottom: 10px;
}

#login input[type="submit"] {
    font-weight: bold;
    float: right;
}

.icon svg
{
    margin: 10px;
    height: 30px;
    width: 30px;
}

.icon-label
{
    margin: 10px;
    font: 150% arial, sans-serif;
    color: var(--primary-color);
    font-weight: bold;
}

#body
{
    height: 100%;
    overflow: auto;
    position: relative;
    border-top: 3px solid var(--primary-color);
}

#body::-webkit-scrollbar
{
    width: 0px;
}

#content
{
    margin: 0 auto;
    height: auto;
    width: 1000px;
    background-color: var(--primary-bg-color);
    text-align: left;
}

#footer
{
    border-top: 3px solid var(--primary-bg-color);
    background-color: var(--primary-color);
}

#footer h4
{
    font: 85% arial, sans-serif;
    padding: 2px;
    text-align: center;
    color: #ffffff;
}

.navbar-sticky
{
    position: fixed;
    top: 0;
    padding-bottom: 3px;
    border-right: 3px solid var(--primary-color);
}

.icon-svg
{
    stroke: var(--primary-color);
}
