*
{
margin: 0;
padding: 0;
}

p
{
    font-family: Verdana;
    margin: 10px;
    text-align: justify;
    color: #cccccc;
}

body
{
    font: 85% arial, sans-serif;
    color: #000000;
    background-color: #f9f9f9;
}

#header
{
    margin: 0 auto 0 auto;
    width: 1000px;
    height: 250px;
}

#header #banner
{
    float: left;
    background-color: #000000;
    height: 250px;
}

#content
{
    margin: 0 auto;
    width: 1000px;
    height: auto;
    text-align: left;
    background-color: #f9f9f9;
}

#content h1
{
    font-family: Verdana;
    margin: 0;
    text-align: center;
    color: #000000;
}

#footer
{
    height: auto;
    border-top: 3px solid #ffffff;
    background-color: #a9a9a9;
}

#footer h4
{
    padding: 2px;
    text-align: center;
    color: #ffffff;
}